* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #fff000;
    --secondary-color: #490a5c;
    --tertiary-color: #6d1388;
}

header {
    position: -webkit-sticky;
    position: sticky;
    z-index: 9999;
    top: 0;
    padding: 20px 35px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 5px solid var(--tertiary-color);
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--primary-color);
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0);
}

header nav ul li :hover {
    color: wheat;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

footer {
    background: var(--secondary-color);
    padding: 25px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
    font-size: 20px;
    line-height: 1.5;
    border-top: 5px solid var(--tertiary-color);
}
footer h2 {
    color: var(--primary-color);
    margin: 0;
}

footer address {
    line-height: 1.5;
    font-style: normal;
}

footer  a {
    color: var(--primary-color);
    font-style: normal;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

footer address a:hover {
    color: wheat;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.profile {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-position: bottom;
    height: auto;
    text-align: center;
    margin-bottom: 40px;
}


#profile {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    border: 5px solid var(--secondary-color);
}
#profile img {
    border: 5px double wheat;
    width: 200px;
}
