* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--primary-color);
}

:root {
    --primary-color: #fff000;
    --secondary-color: #490a5c;
    --tertiary-color: #6d1388;
    
}

body {
    background-color: rgb(40, 36, 54)
}

/* Header/Nav bar */
header {
    position: -webkit-sticky;
    position: sticky;
    z-index: 9999;
    top: 0;
    padding: 10px 35px;
    background-color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 5px solid var(--tertiary-color);
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 40px;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

header a {
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 10px;
    font-weight: lighter;
    font-size: 25px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0);
}

header nav ul li :hover {
    color: wheat;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

/* Footer */
footer {
    background: var(--secondary-color);
    padding: 25px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
    font-size: 20px;
    line-height: 1.5;
    border-top: 5px solid var(--tertiary-color);
}
footer h2 {
    margin: 0;
}

footer address {
    line-height: 1.5;
    font-style: normal;
}

footer  a {
    font-style: normal;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

footer address a:hover {
    color: wheat;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

/* Hero */
.hero {
    height: 300px;
    background: url(../Assets/pics/space.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    font-size: 32px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
    
}

/* Aside Profile */
.profile {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-position: bottom;
    height: auto;
    text-align: center;
    margin-bottom: 40px;
    font-size: 20px;
    justify-content: space-between;
    padding: 15px 5px;
    margin: 15px 0;
    padding: 2% 3%;
}

.profile ul {
    list-style: none;
}

#profile {
    display: flex;
    flex-wrap: wrap;
    width: 50   0px;
    padding: 25px;
    background-color: var(--tertiary-color);
    border: 5px solid var(--secondary-color);
}
#profile img {
    border: 5px double wheat;
    width: 200px;
}

/* Projects */
#projects {
    display: flex;
    flex-wrap: wrap;
    width: 60% ;
    border: 5px solid var(--secondary-color);
    justify-content: center;
    text-align: center;
    background-color: var(--tertiary-color);
    
}

#projects div {
    background: var(--secondary-color);
    max-width: 90%;
}
#projects div img {
max-width: 100%;
border: 5px solid var(--secondary-color);
}

#projects div img:hover {
    border: 5px solid wheat;
}

.projects-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.projects-content article {
    border: 5px solid var(--secondary-color);
    background: var(--secondary-color);
    margin: 40px 75px;
    
}

.projects-content img {
    max-width: 200px;
}

.projects-content img:hover {
    border: 5px solid wheat;
}
/* Tablets/smaller */
@media screen and (max-width: 768px) {
    
    .hero {
        text-align: center;
        background-size: 100%;
        background-position: top;
    }

    #profile {
        margin-bottom: 25px;
        width: 100%;
    }
    .profile {
        justify-content: center;
    }

    #projects {
        width: 100%;
    }

    .projects-content article {
        margin: 40px 50px;
    }
    

}
/* Mobile */
@media screen and (max-width: 575px) {
.hero {
    background-size: 200vw;
    background-position: top;

}
    
    footer {
        justify-content: center;
    }

    .projects-content article {
        margin: 40px 20px;
    }

    .projects-content img {
        width: 150px;
    }

}